#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
*{
  
  margin:0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}
.none{
  display:none;
}
.center{
  justify-content: center;
  align-items: center;
}
.lBtn, .rBtn, .submit{
  cursor:pointer;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight:bold;
  border:5px solid white;
  word-wrap: break-word;
}

.gameTag, .feedbackInput{

  background-color: rgba(0, 0, 0, 0.438);
  font-size: 30px;
  margin: 20px;
  color: white;
  border:6px white solid;
}
.btnCon{
  position: relative;
  margin: 20px;
  gap:30px;  
}
.start{
  border: 6px solid white;
  color: white;
  padding: 20px;
  cursor:pointer;
  z-index: 111;
  font-size: 60px;
  font-weight: bold;

}

.container {
 height: 100%;
 width: 100%;
}

.column {
  flex-direction: column;
}
.textCon{
  height: 100%;
  margin: 20px;
}
.gametagCon{
  flex-direction: column ;
  margin: 20px;
  position: relative;
}


.imgCon{
  position: absolute  ;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
}
.blurryTime{
  position: absolute  ;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  background-image:url("./src/assets/shadyman.jpeg");
}
.image{
  position: absolute;
  height: 100%; 

}
.question{
  position: relative;
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
  color:rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.438);
  word-wrap: break-word;
  max-width: 50%;
  border:6px white solid;
}
.feedback{
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  z-index: 111;
  color:white;
  word-wrap: break-word;  
  max-width:500px;
  text-align:center;
  margin: 20px;
  border:6px white solid;
  background-color: rgba(0, 0, 0, 0.473);
}